body {
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95dvh;

  &:has(.Stage1) {
    overflow-x: hidden;
    background-color: cyan;
  }
}

.Envelope {
  position: relative;
  scale: 1.25;
  transition: scale 0.5s ease-in-out, translate 1s;

  .Back {
    z-index: 0;
  }
  .Body,
  .Lid {
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s ease-in-out;
  }
  .Lid.open {
    transform: scaleY(-1);
  }
  .Inside {
    z-index: 1;
    width: 150%;
    bottom: 25%;
    left: -25%;
    position: absolute;
    transition: bottom 1s, scale 1s, transform 1s;
    scale: 0.2;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  &.open {
    translate: 0 8vw;
    scale: 1.5;
    .Lid {
      z-index: 0;
    }
    .Inside {
      transform: scaleY(1);
      scale: 1;
      bottom: 125%;
    }
  }
}

.Paper {
  background-color: white;
  color: black;
  padding: 0.5em;
  cursor: pointer;
  scale: 1;
  transition: scale 0.25s;
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
  &:hover {
    scale: 0.975;
  }
}

.LandingStage {
  position: relative;
  opacity: 1;
  transition: opacity 1s;
  &::after {
    content: "";
    background: radial-gradient(
      circle,
      rgba(255, 202, 254, 0.6727065826330532) 0%,
      rgba(255, 0, 224, 0) 100%
    );
    position: absolute;
  }
  &.hide {
    opacity: 0;
  }
}

.Stage1 {
  width: 95dvw;
  height: 95dvh;
  .backgrounds {
    position: relative;
    width: 100%;
    * {
      position: absolute;
    }
  }
}
